{% extends 'base.html' %} 

{% block content %}

<div class="w3-main" style="margin-left: 320px; margin-right: 40px">
  <div class="w3-card-4 w3-theme-kv1" id="le_pardon" style="margin-top: 35px">
    <div class="w3-container w3-theme-kv">
      <h1 class="w3-xxlarge w3-padding-16"><b>Notre besoin de consolation est impossible à rassasier.</b></h1>
    </div>
    <div class="w3-container w3-theme-k3">
      <figure>
        <figcaption>
          écoute les Têtes Raides en lisant:
        </figcaption><audio controls="" src="../static/music/nbdceiar.mp3">Your browser does not support the <code>audio</code> element.</audio>
      </figure>
    </div>
    <div class="w3-container">
      <p class="w3-padding w3-large">Je suis dépourvu de foi et ne puis donc être heureux,</p>
      <p>car un homme qui risque de craindre que sa vie soit une errance absurde vers une mort certaine ne peut être heureux. Je n'ai reçu en héritage ni dieu, ni point fixe sur la terre d'où je puisse attirer l'attention d'un dieu. On ne m'a pas non plus légué la fureur bien déguisée du sceptique, les ruses de Sioux du rationaliste ou la candeur ardente de l'athée. Je n'ose donc jeter la pierre ni à celle qui croit en des choses qui ne m'inspirent que le doute, ni à celui qui cultive son doute comme si celui-ci n'était pas, lui aussi, entouré de ténèbres. Cette pierre m'atteindrait moi-même car je suis bien certain d'une chose :</p>
      <p class="w3-padding w3-large">le besoin de consolation que connaît l'être humain est impossible à rassasier.</p>
      <p>En ce qui me concerne, je traque la consolation comme le chasseur traque le gibier. Partout où je crois l'apercevoir dans la forêt, je tire. Souvent je n'atteins que le vide mais, une fois de temps en temps, une proie tombe à mes pieds.<br>
      Et, comme je sais que la consolation ne dure que le temps d'un souffle de vent dans la cime d'un arbre, je me dépêche de m'emparer de ma victime.</p>
      <p class="w3-padding w3-large">Qu'ai-je alors entre mes bras ?</p>
      <p>Puisque je suis solitaire : une femme aimée ou un compagnon de voyage malheureux.<br>
      Puisque je suis poète : un arc de mots que je ressens de la joie et de l'effroi à bander.<br>
      Puisque je suis prisonnier : un aperçu soudain de la liberté. Puisque je suis menacé par la mort :<br>
      un animal vivant et bien chaud, un cœur qui bat de façon sarcastique.<br>
      Puisque je suis menacé par la mer : un récif de granit bien dur.<br>
      Mais il y a aussi des consolations qui viennent à moi sans y être conviées et qui remplissent ma chambre de chuchotements odieux :<br>
      Je suis ton plaisir - aime-les tous !<br>
      Je suis ton talent - fais-en aussi mauvais usage que de toi-même !</p>
      <p class="w3-padding w3-large">Le fil du rasoir est bien étroit.</p>
      <p>Je vois ma vie menacée par deux périls : par les bouches avides de la gourmandise, de l'autre par l'amertume de l'avarice qui se nourrit d'elle-même. Mais je tiens à refuser de choisir entre l'orgie et l'ascèse, même si je dois pour cela subir le supplice du gril de mes désirs. Pour moi, il ne suffit pas de savoir que, puisque nous ne sommes pas libres de nos actes, tout est excusable.</p>
      <p class="w3-padding w3-large">Ce que je cherche, ce n'est pas une excuse à ma vie mais exactement le contraire d'une excuse :</p>
    </div>
    <div class="w3-container w3-theme-kv">
      <a href="/le_pardon" class="w3-hover-sepia" style="text-decoration:none">
      <h1 class="w3-xxlarge w3-padding-16"><b>Le Pardon.</b></h1></a>
    </div>
    <div class="w3-container">
      <p>L'idée me vient finalement que toute consolation ne prenant pas en compte ma liberté est trompeuse, qu'elle n'est que l'image réfléchie de mon désespoir. En effet, lorsque mon désespoir me dit : Perds confiance, car chaque jour n'est qu'une trêve entre deux nuits, la fausse consolation me crie : Espère, car chaque nuit n'est qu'une trêve entre deux jours. Personne ne peut énumérer tous les cas où la consolation est une nécessité. Personne ne sait quand tombera le crépuscule et</p>
      <p class="w3-padding w3-large">la vie n'est pas un problème qui puisse être résolu en divisant la lumière par l'obscurité et les jours par les nuits.</p>
      <p>C'est un voyage imprévisible entre des lieux qui n'existent pas. Je peux, par exemple, marcher sur le rivage et ressentir tout à coup le défi effroyable que l'éternité lance à mon existence dans le mouvement perpétuel de la mer et dans la fuite perpétuelle du vent. Que devient alors le temps, si ce n'est une consolation pour le fait que rien de ce qui est humain ne dure - et quelle misérable consolation, qui n'enrichit que les Suisses !</p>
      <p>Je peux rester assis devant un feu dans la pièce la moins exposée de toutes au danger et sentir soudain la mort me cerner. Elle se trouve dans le feu, dans tous les objets pointus qui m'entourent,<br>
      dans le poids du toit et dans la masse des murs,<br>
      elle se trouve dans l'eau, dans la neige, dans la chaleur et dans mon sang.<br>
      Que devient alors le sentiment humain de sécurité si ce n'est une consolation pour le fait que la mort est ce qu'il y a de plus proche de la vie et quelle misérable consolation, qui ne fait que nous rappeler</p>
      <p class="w3-padding w3-large">ce qu'elle veut nous faire oublier !</p>
      <p>Je peux remplir toutes mes pages blanches avec les plus belles combinaisons de mots que puisse imaginer mon cerveau. Etant donné que je cherche à m'assurer que ma vie n'est pas absurde et que je ne suis pas seul sur la terre, je rassemble tous ces mots en un livre et je l'offre au monde. En retour, celui-ci me donne la richesse, la gloire et le silence. Mais que puis-je bien faire de cet argent et quel plaisir puis-je prendre à contribuer au progrès de la littérature je ne désire que ce que je n'aurai pas : confirmation de ce que mes mots ont touché le cœur du monde. Que devient alors mon talent si ce n'est une consolation pour le fait que je suis seul</p>
      <p class="w3-padding w3-large">mais quelle épouvantable consolation, qui me fait simplement ressentir ma solitude cinq fois plus fort !</p>
      <p>Je peux voir la liberté incarnée dans un animal qui traverse rapidement une clairière et entendre une voix qui chuchote: Vis simplement, prends ce que tu désires et n'aie pas peur des lois ! Mais qu'est-ce que ce bon conseil si ce n'est une consolation pour le fait que</p>
      <p class="w3-padding w3-large">la liberté n'existe pas !</p>
      <p>Et quelle impitoyable consolation pour celui qui s'avise que l'être humain doit mettre des millions d'années à devenir un lézard !</p>
      <p>Pour finir, je peux m'apercevoir que cette terre est une fosse commune dans laquelle le roi Salomon, Ophélie et Himmler reposent côte à côte. Je peux en conclure que le bourreau et la malheureuse jouissent de la même mort que le sage, et que la mort peut nous faire l'effet d'une consolation pour une vie manquée. Mais quelle atroce consolation pour celui qui voudrait voir dans la vie une consolation pour la mort !</p>
      <p class="w3-container">###</p>
      <p class="w3-container">####</p>
      <p>Je ne possède pas de philosophie dans laquelle je puisse me mouvoir comme le poisson dans l'eau ou l'oiseau dans le ciel. Tout ce que je possède est un duel, et ce duel se livre à chaque minute de ma vie entre les fausses consolations, qui ne font qu'accroître mon impuissance et rendre plus profond mon désespoir, et les vraies, qui me mènent vers une libération temporaire. Je devrais peut-être dire : la vraie car, à la vérité, il n'existe pour moi qu'une seule consolation qui soit réelle, celle qui me dit que</p>
      <p class="w3-padding w3-large">je suis un homme libre, un individu inviolable, un être souverain à l'intérieur de ses limites.</p>
      <p>Mais la liberté commence par l'esclavage et la souveraineté par la dépendance. Le signe le plus certain de ma servitude est ma peur de vivre.<br>
      Le signe définitif de ma liberté est le fait que ma peur laisse la place à la joie tranquille de l'indépendance.<br>
      On dirait que j'ai besoin de la dépendance pour pouvoir finalement connaître la consolation d'être un homme libre, et c'est certainement vrai. A la lumière de mes actes, je m'aperçois que toute ma vie semble n'avoir eu pour but que de faire mon propre malheur. Ce qui devrait m'apporter la liberté m'apporte l'esclavage et les pierres en guise de pain.</p>
      <p class="w3-padding w3-large">Les autres hommes ont d'autres maîtres.</p>
      <p>En ce qui me concerne, mon talent me rend esclave au point de pas oser l'employer, de peur de l'avoir perdu. De plus, je suis tellement esclave de mon nom que j'ose à peine écrire une ligne, de peur de lui nuire. Et, lorsque la dépression arrive finalement, je suis aussi son esclave.<br>
      Mon plus grand désir est de la retenir, mon plus grand plaisir est de sentir que tout ce que je valais résidait dans ce que je crois avoir perdu : la capacité de créer de la beauté à partir de mon désespoir, de mon dégoût et de mes faiblesses.<br>
      Avec une joie amère, je désire voir mes maisons tomber en ruine et me voir moi-même enseveli sous la neige de l'oubli.</p>
      <p>Mais la dépression est une poupée russe et, dans la dernière poupée, se trouvent<br>
      un couteau, une lame de rasoir,<br>
      un poison, une eau profonde<br>
      et un saut dans un grand trou.<br>
      Je finis par devenir l'esclave de tous ces instruments de mort. Ils me suivent comme des chiens,</p>
      <p class="w3-padding w3-large">à moins que le chien, ce ne soit moi.</p>
      <h4>Et il me semble comprendre que le suicide est la seule preuve de la liberté humaine.</h4>
      <p class="w3-container">###</p>
      <p class="w3-container">####</p>
      <p>Mais, venant d'une direction que je ne soupçonne pas encore, voici que s'approche le miracle de la libération. Cela peut se produire sur le rivage, et la même éternité qui, tout à l'heure, suscitait mon effroi est maintenant le témoin de mon accession à la liberté. En quoi consiste donc ce miracle ? Tout simplement dans la découverte soudaine que personne, aucune puissance, aucun être humain, n'a le droit d'énoncer envers moi des exigences telles que mon désir de vivre vienne à s'étioler.</p>
      <p class="w3-padding w3-large">Car si ce désir n'existe pas, qu'est-ce qui peut alors exister ?</p>
      <p>Puisque je suis au bord de la mer, je peux apprendre de la mer. Personne n'a le droit d'exiger de la mer qu'elle porte tous les bateaux, ou du vent qu'il gonfle perpétuellement toutes les voiles. De même, personne n'a le droit d'exiger de moi que ma vie consiste à être prisonnier de certaines fonctions.<br>
      Pour moi, ce n'est pas le devoir avant tout mais :</p>
      <p class="w3-padding w3-large">la vie avant tout.</p>
      <p>Tout comme les autres hommes, je dois avoir droit à des moments où je puisse faire un pas de côté et sentir que je ne suis pas seulement une partie de cette masse que l'on appelle la population du globe, mais aussi une unité autonome.</p>
      <p>Ce n'est qu'en un tel instant que je peux être libre vis-à-vis de tous les faits de la vie qui, auparavant, ont causé mon désespoir. Je peux reconnaître que la mer et le vent ne manqueront pas de me survivre et que l'éternité se soucie peu de moi. Mais qui me demande de me soucier de l'éternité ? Ma vie n'est courte que si je la place sur le billot du temps. Les possibilités de ma vie ne sont limitées que si je compte le nombre de mots ou le nombre de livres auxquels j'aurai le temps de donner le jour avant de mourir. Mais qui me demande de compter ? Le temps n'est pas l'étalon qui convient à la vie. Au fond, le temps est un instrument de mesure sans valeur car il n'atteint que les ouvrages avancés de ma vie.</p>
      <p>Mais tout ce qui m'arrive d'important et tout ce qui donne à ma vie son merveilleux contenu : la rencontre avec un être aimé, une caresse sur la peau, une aide au moment critique, le spectacle du clair de lune, une promenade en mer à la voile, la joie que l'on donne à un enfant, le frisson devant la beauté, tout cela se déroule totalement en dehors du temps. Car peu importe que je rencontre la beauté l'espace d'une seconde ou l'espace de cent ans. Non seulement la félicité se situe en marge du temps mais elle nie toute relation entre celui-ci et la vie</p>
      <p class="w3-padding w3-large">Je soulève donc de mes épaules le fardeau du temps et, par la même occasion, celui des performances que l'on exige de moi.</p>
      <p>Ma vie n'est pas quelque chose que l'on doive mesurer. Ni le saut du cabri ni le lever du soleil ne sont des performances. Une vie humaine n'est pas non plus une performance, mais quelque chose qui grandit et cherche à atteindre la perfection.</p>
      <p class="w3-padding w3-large">Et ce qui est parfait n'accomplit pas de performance : ce qui est parfait œuvre en état de repos.</p>
      <p>Il est absurde de prétendre que la mer soit faite pour porter des armadas et des dauphins. Certes, elle le fait - mais en conservant sa liberté. Il est également absurde de prétendre que l'homme soit fait pour autre chose que pour vivre. Certes, il approvisionne des machines et il écrit des livres, mais il pourrait tout aussi bien faire autre chose. L'important est qu'il fasse ce qu'il fait en toute liberté et en pleine conscience de ce que, comme tout autre détail de la création, il est une fin en soi. Il repose en lui-même comme une pierre sur le sable.</p>
      <p>Je peux même m'affranchir du pouvoir de la mort. Il est vrai que je ne peux me libérer de l'idée que la mort marche sur mes talons et encore moins nier sa réalité. Mais je peux réduire à néant la menace qu'elle constitue en me dispensant d'accrocher ma vie à des points d'appui aussi précaires que le temps et la gloire.</p>
      <p>Par contre, il n'est pas en mon pouvoir de rester perpétuellement tourné vers la mer et de comparer sa liberté avec la mienne. Le moment arrivera où je devrai me retourner vers la terre et</p>
      <p class="w3-padding w3-large">faire face aux organisateurs de l'oppression</p>
      <p>dont je suis victime. Ce que je serai alors contraint de reconnaître, c'est que l'homme a donné à sa vie des formes qui, au moins en apparence, sont plus fortes que lui. Même avec ma liberté toute récente je ne puis les briser, je ne puis que soupirer sous leur poids. Par contre, parmi les exigences qui pèsent sur l'homme, je peux voir lesquelles sont absurdes et lesquelles sont inéluctables. Selon moi,</p>
      <p class="w3-padding w3-large">une sorte de liberté est perdue pour toujours</p>
      <p>ou pour longtemps. C'est la liberté qui vient de la capacité de posséder son propre élément. Le poisson possède le sien, de même que l'oiseau et que l'animal terrestre. Thoreau avait encore la forêt de Walden - mais où est maintenant la forêt où l'être humain puisse prouver qu'</p>
      <p class="w3-padding w3-large">où est maintenant la forêt où l'être humain puisse prouver qu'il est possible de vivre en liberté en dehors des formes figées de la société ?</p>
      <p class="w3-container">###</p>
      <p class="w3-container">####</p>
      <p>Je suis obligé de répondre : nulle part. Si je veux vivre libre, il faut pour l'instant que je le fasse à l'intérieur de ces formes. Le monde est donc plus fort que moi. A son pouvoir je n'ai rien à opposer que moi-même - mais, d'un autre côté, c'est considérable. Car, tant que je ne me laisse pas écraser par le nombre, je suis moi aussi une puissance. Et mon pouvoir est redoutable tant que je puis opposer la force de mes mots à celle du monde, car celui qui construit des prisons s'exprime moins bien que celui qui bâtit la liberté. Mais ma puissance ne connaîtra plus de bornes le jour où je n'aurai plus que le silence pour défendre mon inviolabilité, car aucune hache ne peut avoir de prise sur le silence vivant.</p>
      <p>Telle est ma seule consolation. Je sais que les rechutes dans le désespoir seront nombreuses et profondes, mais le souvenir du miracle de la libération me porte comme une aile vers un but qui me donne le vertige : une consolation qui soit plus qu'une consolation et plus grande qu'une philosophie, c'est-à-dire...</p>
    </div>
    <div class="w3-container w3-theme-kv">
      <h1 class="w3-xxlarge w3-padding-16"><b>une raison de vivre.</b></h1>
    </div>
    <div class="w3-container w3-theme-kv">
      <h1 class="w3-large w3-padding w3-display-container"><a href="https://fr.wikipedia.org/wiki/Stig_Dagerman" style="text-decoration:none"><b class="w3-display-right w3-large">Since the 20's: &amp;#8203 &amp;#8203 <strong>Stig Dagerman</strong></b></a></h1>
    </div>
  </div>
</div>

{% endblock %}