
{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left: 320px; margin-right: 40px">
    <div class="w3-card-4 w3-theme-kv1" id="contact" style="margin-top: 35px">

      
          <div class="w3-container w3-theme-kv">
            <h1 class="w3-xxlarge w3-padding-16"><b>Crée toi un compte...</b></h1>
          </div>


          <div class="w3-row">
            <div style="max-width:600px;" class="w3-container">
              <div class="w3-container w3-border w3-card-4 w3-round-xlarge w3-padding w3-margin w3-light-grey">
                <div class="w3-container w3-theme-kv3 w3-round">
                  <h3 class="w3-padding"><b>Register Account</b></h3>
                </div>

                <form class="w3-container" action="/register" method="POST">

                  <div class="form-group w3-margin">
                    <label for="username">User Name:</label>
                    <input class="w3-input w3-border w3-round" type="text" id="username" placeholder="Enter UserName"
                      name="username">

                  </div>

                  <div class="form-group w3-margin">
                    <label for="email">Email:</label>
                    <input class="w3-input w3-border w3-round" type="email" class="form-control" id="email"
                      placeholder="Enter Email" name="email">
                  </div>

                  <div class="form-group w3-margin">
                    <label for="pwd">Password:</label>
                    <input class="w3-input w3-border w3-round" type="password" class="form-control" id="pwd"
                      placeholder="Enter Password" name="password">
                  </div>


                  <button class="w3-btn w3-theme-kv3 w3-padding-large w3-round-large " type="submit">Submit</button>

                </form>

              </div>
            </div>
          </div>


          <div class="w3-container w3-theme-kv">
            <h1 class="w3-xxlarge w3-padding-16"><b>.. et reste connecté !</b></h1>
          </div>
    
    </div>
  </div>

  {% endblock %}